

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding-top: 0px;
}
a {
	font-color: black;
}


.image {
	margin: 10px;
}

#container {
	padding: 40px;
}










